* {
    box-sizing: border-box;
}
html, body {
    height: 100%; 
}
body {
    margin: 0 auto;
    font-family: sans-serif;
}
.section.one, .section.five{
    background-color: #1f2937;
}
.section.two, .section.four{
    background-color: #fff;
}
.section.three{
    background-color: #e5e7eb;
}
header {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header > a {
    font-size: 24px;
    color: #f9faf8
}
header a, header ul li a, .text a {
    text-decoration: none;
    color: #e5e7eb;
}
header ul, header a {
    margin: 10px;
}
header ul li {
    list-style-type: none;   
    font-size: 18px;
    display: inline-block;
    margin-right: 10px;
}
h1 {
    display: block;
    font-size: 48px;
    font-weight: bold;
    color:#f9faf8;
    margin: 0;
}
.titular {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text > p {
    color: #e5e7eb;
    font-size: 18px;
}
.text > a {
    background-color: #3882f6;
    border:2px solid #3882f6;
    border-radius: 10px;
    padding: 10px 30px;
}
.image {
    background-color: #e5e7eb70;
    width: 50%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0px 30px 0;
    color: #e5e7eb;   
}
.text {
    width: 50%;
    height: 300px;
    margin: 60px 60px 30px 0;
}
.section.two h2 {
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    text-align: center;
}
.contaninerInfo {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: #1f2937;
    gap: 10px;
}
.info {
    width: 205px;
    text-align: center;
}
.img {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section.three {
    padding: 50px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.frase {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#thor {
    font-weight: bold;
    text-align: end;
}
.call {
    margin: 0 auto;
    width: 70%;
    background-color: #3882f6;
    padding: 50px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #e5e7eb;
}
.textBotton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.call h3, .textBotton, .textBotton p {
    margin: 0;
    padding: 0;
}
.call a {
    color: #e5e7eb; 
    text-decoration: none;
    border: 2px solid #e5e7eb;
    padding: 10px;
    border-radius: 10px;
}
.section.five {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: #e5e7eb;
}